form{
  display: flex;
  flex-direction: column;
  .singleInput{
    margin: 3px 0px;
    width: 100%;
    flex-direction: row;
    white-space: nowrap;
    label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      span {
        display: flex;
      }
      input {
        display: flex;
      }
    }
  }
  button{
    margin-top: 10px;
  }
}