table{
  display: flex;
  flex-direction: column;
  width: 50%;
  thead{
    display: flex;
    flex-direction: column;
    width: 100%;
    tr{
      display: flex;
      flex-direction: row;
      align-items: center;
      th{
        font-weight: bold;
        display: flex;
        width: 100%;
      }
    }
  }
  tbody{
    display: flex;
    flex-direction: column;
    width: 100%;
    tr{
      display: flex;
      flex-direction: row;
      align-items: center;
      td{
        display: flex;
        width: 100%;
      }
    }
    :hover{
      background-color: #DDDDDD;
    }
  }
}