table{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 80%;
  thead{
    display: flex;
    flex-direction: column;
    width: 100%;
    tr{
      display: flex;
      flex-direction: row;
      align-items: center;
      th{
        font-weight: bold;
        display: flex;
        width: 100%;
      }
    }
  }
  tbody{
    display: table;
    flex-direction: column;
    width: 100%;
    tr{
      display: flex;
      padding: 2px;
      margin-top: 1px;
      //flex-direction: row;
      //align-items: center;
      td{
        display: flex;
        //justify-content: space-around;
        width: 100%;
      }
    }
    :hover{
      background-color: #DDDDDD;
    }
  }
}